.navbar {
  background-color: #34527C;
  height: 8vh;
  display: flex;
  justify-content: start;
  align-items: center;
  position:relative;

}

.menu-bar {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  
}

.nav-menu {
  background-color: #2F4858; //#282c34;
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #008483; //#1a83ff;
}

.nav-menu-item {
  width: 100%;
}

.navbar-toggle {
  background-color: #34527C;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: start;
  align-items: center ;
}

span {
  margin-left: 16px;
}